# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore logs and temporary files
logs/
tmp/
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore dependency directories
/bower_components/
/jspm_packages/